.TeroristsDataArea {
    border-collapse: collapse;
    width: 100%;
    direction: rtl;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #c0b0b0;
}