:root {
    min-height: 100vh;
    min-width: 100vw;
}

.dataTeroristsDiv {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.filterSectionDiv {
    margin-left: 10rem;    
    padding-top: 1rem;
}
